*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgba(249, 250, 255, 1);
}

.container{
        max-width: 85%;
        margin: 0 auto;
        padding: 0 260px;
}


ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav{
    display: flex;
}

.wrpper__header{
    display: flex;
    align-items: center;
    gap: 254px;
}
apper__right h1{
    font-size: 55px;
    font-weight: 500px;
    height: 170px;
}

.intro{
    padding-top: 134px;
}

.wrapper__right button{
    margin-top: 40px;
    width: 219px;
    height: 53px;
    border: none;
    border-radius: 10px;
    background-color: rgba(243, 95, 47, 0.75);
}

.wrapper__intro{
    display: flex;
    gap: 61px;
}
h2{
    padding-top: 120px;
    padding-left: 391px;
    font-style: 40px;
    font-weight: 700;
}

.box{
    width: 1170px;
    height: 344px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
.div__icon{
    padding-top: 54px;
    padding-left: 67px;
    display: flex;
    gap: 271px;
}


.box_1{
    width: 356px;
    height: 302px;
    background-color: #fff;
    border-radius: 23px;
    margin-top: 117px;
    position: relative;
    
    h2{
        font-weight: 700;
        font-size: 24px;
        padding-left: 88px;
        padding-top: 75px;
    }
    p{
        width: 277px;
        height: 78px;
        padding-left: 62px;
    }
    .wrap_img{
        padding-left: 130px;
        padding-bottom: 48px;
        position: absolute;
       top: -100px;
        left: -9%;
    }
    .wrap__img{
        padding-left: 130px;
        padding-bottom: 48px;
        position: absolute;
       top: -60px;
        left: 6%;
    }
}



.wrapper__box{
    display: flex;
    gap: 51px;
    
}

.boxes{
    width: 392px;
    height: 367px;
    border-radius: 10px;
    background-color: #fff;
}
.wrapper__boxes{
    padding-top: 50px;
    display: flex;
    gap: 28px;
}


